In [1]:
import pandas as pd, numpy as np

train = pd.read_csv("C:\\Users\\engconstanti\\Desktop\\GitRepos\\backpack_prediction\\dataset\\train.csv")
print("Train shape",train.shape)
train_extra = pd.read_csv("C:\\Users\\engconstanti\\Desktop\\GitRepos\\backpack_prediction\\dataset\\training_extra.csv")
print("Extra Train shape",train_extra.shape)
train = pd.concat([train,train_extra],axis=0,ignore_index=True)
print("Combined Train shape",train.shape)
train.head()

Train shape (300000, 11)
Extra Train shape (3694318, 11)
Combined Train shape (3994318, 11)

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
0,0,Jansport,Leather,Medium,7.0,Yes,No,Tote,Black,11.611723,112.15875
1,1,Jansport,Canvas,Small,10.0,Yes,Yes,Messenger,Green,27.078537,68.88056
2,2,Under Armour,Leather,Small,2.0,Yes,No,Messenger,Red,16.643760,39.17320
3,3,Nike,Nylon,Small,8.0,Yes,No,Messenger,Green,12.937220,80.60793
4,4,Adidas,Canvas,Medium,1.0,Yes,Yes,Messenger,Green,17.749338,86.02312

In [2]:
# train_mean = train.Price.mean()
# train['pred'] = train_mean
# s = np.sqrt(np.mean( (train.Price-train.pred)**2.0 ) )
# print(f"Validation RMSE using Train Mean = {s}")

# sub = pd.read_csv("dataset/sample_submission.csv")
# print('Submission shape', sub.shape)
# sub['Price'] = train_mean
# sub.to_csv("submission_mean.csv",index=False)
# sub.head()

In [3]:
import pandas as pd
import numpy as np

# Create bins for the numerical variable
train['Weight Capacity Binned'] = pd.qcut(train['Weight Capacity (kg)'], q=25, labels=False)

# Calculate the mean price for each bin
mean_price = train.groupby('Weight Capacity Binned')['Price'].mean()
train['pred'] = train['Weight Capacity Binned'].map(mean_price)

# Calculate RMSE
s = np.sqrt(np.mean((train['Price'] - train['pred']) ** 2.0))
print(f"Validation RMSE using Target Encode Weight Capacity = {s}")

Validation RMSE using Target Encode Weight Capacity = 38.91910555011318

In [4]:
test = pd.read_csv("../dataset/test.csv")
test['Weight Capacity Binned'] = pd.qcut(test['Weight Capacity (kg)'], q=25, labels=False)
test['Price'] = test['Weight Capacity Binned'].map(mean_price)
sub = pd.read_csv("../dataset/sample_submission.csv")
sub['Price'] = test['Price']
sub.fillna({"Price" : sub["Price"].median()}, inplace=True)
#sub.to_csv("submission_TE_weight_capacity.csv", index=False)
sub.head()

       id      Price
0  300000  81.249622
1  300001  81.277038
2  300002  82.671844
3  300003  81.976049
4  300004  80.819682

In [5]:
train['Weight_to_Compartments'] = train['Weight Capacity (kg)'] / (train['Compartments'] + 1)  # Avoid division by zero

In [6]:
train

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price,Weight Capacity Binned,pred,Weight_to_Compartments
0,0,Jansport,Leather,Medium,7.0,Yes,No,Tote,Black,11.611723,112.15875,5.0,82.671844,1.451465
1,1,Jansport,Canvas,Small,10.0,Yes,Yes,Messenger,Green,27.078537,68.88056,22.0,81.487975,2.461685
2,2,Under Armour,Leather,Small,2.0,Yes,No,Messenger,Red,16.643760,39.17320,10.0,81.701808,5.547920
3,3,Nike,Nylon,Small,8.0,Yes,No,Messenger,Green,12.937220,80.60793,7.0,81.277038,1.437469
4,4,Adidas,Canvas,Medium,1.0,Yes,Yes,Messenger,Green,17.749338,86.02312,12.0,81.976049,8.874669
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3994313,4194313,Nike,Canvas,NaN,3.0,Yes,Yes,Messenger,Blue,28.098120,104.74460,23.0,81.724253,7.024530
3994314,4194314,Puma,Leather,Small,10.0,Yes,Yes,Tote,Blue,17.379531,122.39043,11.0,82.587211,1.579957
3994315,4194315,Jansport,Canvas,Large,10.0,No,No,Backpack,Red,17.037708,148.18470,11.0,82.587211,1.548883
3994316,4194316,Puma,Canvas,NaN,2.0,No,No,Backpack,Gray,28.783339,22.32269,23.0,81.724253,9.594446
3994317,4194317,Under Armour,Polyester,Medium,2.0,Yes,No,Backpack,Blue,23.076169,107.61199,17.0,81.478545,7.692056

In [7]:
import pandas as pd
import numpy as np

# Create bins for the numerical variable
train['Weight_to_Compartments_Binned'] = pd.qcut(train['Weight_to_Compartments'], q=25, labels=False)

# Calculate the mean price for each bin
mean_price = train.groupby('Weight_to_Compartments_Binned')['Price'].mean()
train['pred'] = train['Weight_to_Compartments_Binned'].map(mean_price)

# Calculate RMSE
s = np.sqrt(np.mean((train['Price'] - train['pred']) ** 2.0))
print(f"Validation RMSE using Target Encode Weight Capacity = {s}")

Validation RMSE using Target Encode Weight Capacity = 38.928073726531174

In [8]:
test = pd.read_csv("../dataset/test.csv")
test['Weight_to_Compartments_Binned'] = pd.qcut(test['Weight Capacity (kg)'], q=25, labels=False)
test['Price'] = test['Weight_to_Compartments_Binned'].map(mean_price)
sub = pd.read_csv("../dataset/sample_submission.csv")
sub['Price'] = test['Price']
sub.fillna({"Price" : sub["Price"].median()}, inplace=True)
#sub.to_csv("submission_TE_weight_capacity_to_compartments.csv", index=False)
sub.head()

       id      Price
0  300000  81.899324
1  300001  81.574753
2  300002  81.269307
3  300003  81.707585
4  300004  81.132154

Add Polynomial features

In [9]:
train

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price,Weight Capacity Binned,pred,Weight_to_Compartments,Weight_to_Compartments_Binned
0,0,Jansport,Leather,Medium,7.0,Yes,No,Tote,Black,11.611723,112.15875,5.0,81.132154,1.451465,4.0
1,1,Jansport,Canvas,Small,10.0,Yes,Yes,Messenger,Green,27.078537,68.88056,22.0,81.482411,2.461685,10.0
2,2,Under Armour,Leather,Small,2.0,Yes,No,Messenger,Red,16.643760,39.17320,10.0,81.811683,5.547920,20.0
3,3,Nike,Nylon,Small,8.0,Yes,No,Messenger,Green,12.937220,80.60793,7.0,80.918855,1.437469,3.0
4,4,Adidas,Canvas,Medium,1.0,Yes,Yes,Messenger,Green,17.749338,86.02312,12.0,82.174012,8.874669,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3994313,4194313,Nike,Canvas,NaN,3.0,Yes,Yes,Messenger,Blue,28.098120,104.74460,23.0,81.450531,7.024530,22.0
3994314,4194314,Puma,Leather,Small,10.0,Yes,Yes,Tote,Blue,17.379531,122.39043,11.0,81.132154,1.579957,4.0
3994315,4194315,Jansport,Canvas,Large,10.0,No,No,Backpack,Red,17.037708,148.18470,11.0,81.132154,1.548883,4.0
3994316,4194316,Puma,Canvas,NaN,2.0,No,No,Backpack,Gray,28.783339,22.32269,23.0,82.174012,9.594446,23.0
3994317,4194317,Under Armour,Polyester,Medium,2.0,Yes,No,Backpack,Blue,23.076169,107.61199,17.0,81.450531,7.692056,22.0

In [18]:
data = pd.DataFrame( { "weight_capa":  train["Weight Capacity (kg)"]})

In [19]:
data

         weight_capa
0          11.611723
1          27.078537
2          16.643760
3          12.937220
4          17.749338
...              ...
3994313    28.098120
3994314    17.379531
3994315    17.037708
3994316    28.783339
3994317    23.076169

[3994318 rows x 1 columns]

In [34]:
from sklearn.preprocessing import PolynomialFeatures

def create_poly_features(data, column):
    data.fillna({column : data[column].median()}, inplace=True)
    poly = PolynomialFeatures(degree=4, include_bias=False)
    X_poly = poly.fit_transform(data[[column]])
    poly_features = pd.DataFrame(X_poly, columns=poly.get_feature_names_out([column]))
    return poly_features

In [ ]:
poly_features = create_poly_features(data, "weight_capa"):
poly_features["Price"] = train["Price"]

In [42]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, root_mean_squared_error

X = poly_features[['weight_capa', 'weight_capa^2', 'weight_capa^3', 'weight_capa^4']]
y = poly_features['Price']

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)
predictions = model.predict(X_val)

mse = root_mean_squared_error(y_val, predictions)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 38.90608973420736

In [36]:
test = pd.read_csv("../dataset/test.csv")
test_data = pd.DataFrame( { "weight_capa":  test["Weight Capacity (kg)"]})
test_poly_features = create_poly_features(test_data, "weight_capa")
X_test = test_poly_features[['weight_capa', 'weight_capa^2', 'weight_capa^3', 'weight_capa^4']]
test_predictions = model.predict(X_test)

In [38]:
submission = pd.DataFrame( { "Price":  test_predictions})

In [39]:
submission

            Price
0       81.913082
1       81.479242
2       81.249730
3       81.773824
4       80.777880
...           ...
199995  79.531496
199996  78.457519
199997  81.990053
199998  82.090376
199999  81.421785

[200000 rows x 1 columns]

In [ ]:

sub = pd.read_csv("../dataset/sample_submission.csv")
sub['Price'] = submission['Price']
sub.fillna({"Price" : sub["Price"].median()}, inplace=True)
#sub.to_csv("submission_poly_features_v1.csv", index=False)
sub.head()

       id      Price
0  300000  81.913082
1  300001  81.479242
2  300002  81.249730
3  300003  81.773824
4  300004  80.777880

In [44]:
import xgboost as xgb

xgb_model = xgb.XGBRegressor(n_estimators=300, learning_rate=0.1, objective='reg:squarederror', random_state=42)

xgb_model.fit(X_train, y_train)
predictions = xgb_model.predict(X_val)
mse = root_mean_squared_error(y_val, predictions)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 38.8924521069313

In [47]:
test_predictions = xgb_model.predict(X_test)
submission = pd.DataFrame( { "Price":  test_predictions})
sub = pd.read_csv("../dataset/sample_submission.csv")
sub['Price'] = submission['Price']
#sub.fillna({"Price" : sub["Price"].median()}, inplace=True)
sub.to_csv("submission_poly_features_v3_xgb.csv", index=False)
sub.head()

       id      Price
0  300000  81.049965
1  300001  80.797058
2  300002  83.941673
3  300003  80.517853
4  300004  79.511749

In [45]:
import lightgbm as lgb

lgb_model = lgb.LGBMRegressor(n_estimators=300, learning_rate=0.1, random_state=42)
lgb_model.fit(X_train, y_train)
predictions = lgb_model.predict(X_val)
mse = root_mean_squared_error(y_val, predictions)
print(f'Mean Squared Error: {mse}')

[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.031278 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1020
[LightGBM] [Info] Number of data points in the train set: 3195454, number of used features: 4
[LightGBM] [Info] Start training from score 81.361311
Mean Squared Error: 38.89224515675248

In [46]:
test_predictions = lgb_model.predict(X_test)
submission = pd.DataFrame( { "Price":  test_predictions})
sub = pd.read_csv("../dataset/sample_submission.csv")
sub['Price'] = submission['Price']
#sub.fillna({"Price" : sub["Price"].median()}, inplace=True)
sub.to_csv("submission_poly_features_v2_lgb.csv", index=False)
sub.head()

       id      Price
0  300000  80.051811
1  300001  80.344381
2  300002  83.774639
3  300003  81.512686
4  300004  80.555073