quick preprocesssing using fastai

In [1]:
from fastai.tabular.all import *
import pandas as pd

train_data_original = pd.read_csv("dataset/train.csv")
test_data_original = pd.read_csv("dataset/test.csv")

In [2]:
train_data = train_data_original.drop("id", axis=1)

In [3]:
train_data

,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
0,Jansport,Leather,Medium,7.0,Yes,No,Tote,Black,11.611723,112.15875
1,Jansport,Canvas,Small,10.0,Yes,Yes,Messenger,Green,27.078537,68.88056
2,Under Armour,Leather,Small,2.0,Yes,No,Messenger,Red,16.643760,39.17320
3,Nike,Nylon,Small,8.0,Yes,No,Messenger,Green,12.937220,80.60793
4,Adidas,Canvas,Medium,1.0,Yes,Yes,Messenger,Green,17.749338,86.02312
...,...,...,...,...,...,...,...,...,...,...
299995,Adidas,Leather,Small,9.0,No,No,Tote,Blue,12.730812,129.99749
299996,Jansport,Leather,Large,6.0,No,Yes,Tote,Blue,26.633182,19.85819
299997,Puma,Canvas,Large,9.0,Yes,Yes,Backpack,Pink,11.898250,111.41364
299998,Adidas,Nylon,Small,1.0,No,Yes,Tote,Pink,6.175738,115.89080
299999,Under Armour,Canvas,Small,2.0,No,Yes,Backpack,Black,18.568865,26.72762

In [4]:
splits = RandomSplitter(valid_pct=0.2)(range_of(train_data))
to = TabularPandas(train_data, procs=[Categorify, FillMissing,Normalize],
                   cont_names = ['Weight Capacity (kg)',], 
                   cat_names=['Brand','Material','Size','Compartments','Laptop Compartment','Waterproof','Style','Color'],
                   y_names='Price',
                   splits=splits)

C:\Users\engconstanti\AppData\Roaming\Python\Python312\site-packages\fastai\tabular\core.py:314: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  to[n].fillna(self.na_dict[n], inplace=True)

In [5]:
to.train.xs

,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg)_na,Weight Capacity (kg)
55964,2,1,1,10,1,1,2,5,1,0.105271
120965,0,2,1,3,1,1,1,2,1,-0.828198
231629,3,1,3,7,1,1,3,3,1,0.217917
242139,1,4,2,9,2,2,3,4,1,0.115437
4235,3,2,1,4,1,1,2,1,1,-0.112638
...,...,...,...,...,...,...,...,...,...,...
239298,4,3,1,3,1,1,2,3,1,-1.410737
202226,1,1,2,7,1,1,3,6,1,1.251433
83324,2,3,3,1,1,2,1,5,1,-0.552502
288481,5,4,3,2,1,1,1,3,1,-1.588604
44235,2,1,3,4,1,1,2,1,1,0.563508

In [6]:
dls = to.dataloaders(bs=64)

In [7]:
dls.show_batch()

In [ ]:
learn = tabular_learner(dls, metrics=rmse)
learn.fit_one_cycle(1)

In [9]:
to = TabularPandas(train_data, procs=[Categorify, FillMissing,Normalize],
                   cont_names = ['Weight Capacity (kg)',], 
                   y_names='Price',
                   splits=splits)
dls = to.dataloaders(bs=64)

C:\Users\engconstanti\AppData\Roaming\Python\Python312\site-packages\fastai\tabular\core.py:314: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  to[n].fillna(self.na_dict[n], inplace=True)

In [10]:
dls.show_batch()

In [11]:
learn = tabular_learner(dls, metrics=rmse)
learn.fit_one_cycle(1)

In [ ]:
learn = tabular_learner(dls, metrics=rmse, wd=0.1)
learn.fit_one_cycle(1)